* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f51818;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #6a00ff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #5200cc;
}
